
<div style="width:100%; position:relative; padding:0 20px">
<h2>AngularJS Markup Calculator</h2>


<table>
	<thead>
		<th>Markup</th>
		<th>Cost</th>
	</thead>
	<tbody>
		<tr>
			<td>Enter Start Rate</td>
			<td>
				<input type="text" name="start-rate" ng-model="markups.startRate"  />
			</td>
		</tr>
		<tr>
			<td>Job Markup 5%:</td>
			<td>{{ markups.price() | currency }}</td>
		</tr>

		<tr>
			<td>Enter # of People</td>
      <td><input id="testforPeople" type="text" name="no-of-people" value="" ng-model="markups.numberOfPeople" /></td>

		</tr>

		<tr>
			<td># People Markup</td>
			<td>{{ markups.people() | currency }}</td>
		</tr>

		<tr>
			<td><input id="isFood" type="checkbox" ng-model="foodSelected" />
        <label for="isFood">Food Markup:</label></td>
			<td>{{ markups.isFood() | currency }}</td>
		</tr>

		<tr>
			<td>
		<input id="isPharm" type="checkbox" />
        <label for="isPharm">Pharm Markup:</label></td>
			<td>{{ will be pharm cost (if applicable) </td>
		</tr>

		<tr>
			<td><input id="isElectronic" type="checkbox"  />
        <label for="isElectronic">Electronics Markup:</label></td>
			<td> {{ will be electronic cost (if applicable) </td>
		</tr>

		<tr>
			<td><strong>Final Cost Estimate</strong></td>
			<td><strong> {{ will be final cost  </strong></td>
		</tr>
		</tbody>

</table>

</div>
